html, body, #app{
    height: 100%;
    margin: 0;
    padding: 0;
}


/* 媒体查询 */
@media screen and (max-width: 777px){
  #main{
      width: 100%;
      height: 90%;
  }
  .el-card__body{
    padding: 20px 1px !important;
}

 
}

/* 媒体查询 */
@media screen and (min-width: 777px){
  #main{
    width: 70%;
    height: 90%;
    margin: 0 auto;
  }
  .el-card__body{
    padding: 20px !important;
}
}



.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 15px;
}

.demo-table-expand label {
    color: #99a9bf;

  }
.el-table{
  font-size: 14px !important;
}
  .input-with-select .el-input-group__prepend {
    background-color: #fff;
  }
 
  .el-select .el-input{
    width: 150px ;
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}

.font-content{
    font-size: 18px;
    text-indent: 30px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    font-family:Arial,Helvetica,sans-serif;
    
}